<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Snake</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">
  <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="stylesheet/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheet/css/snake.css">
</head>
<body>

  {{> hello}}
</body>

<template name="hello">
  <div class="demo-back bg-light">
    <div class="container-fluid">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
      </a>
    </div>
  </div>
  <main>
    <div class="container-fluid">
      <div class="wrapper">
        <div class="row">
          <div class="col-9 bg-dark">
            <div class="game-body">
              <div class="snake-body">
              </div>
              <div class="snake-food">
                <div class="food"></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="">
              .....
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
</template>
